body{
    position:relative;
    background-color: #F1F1F3;
}
.headerConfig{
    background-color: aqua;
}
.folder{
    top: 299px;
left: 1628px;
width: 258px;
height: 50px;
background: var(--unnamed-color-f1f1f3) 0% 0% no-repeat padding-box;
background: 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;
}
.foldrplus{
    top: 205px;
left: 1739px;
width: 35px;
height: 29px;
}
.folder{
    margin-top: 14px;
font: normal normal normal 16px/21px Roboto;
letter-spacing: -0.16px;
color: #7B7D86;
text-transform: capitalize;
opacity: 1;
}
.col3{
    background-color:red
}
.dragfolser{
    margin-bottom: 30px;
    top: 184px;
left: 1628px;
width: 258px;
height: 100px;
border: 2px dashed #707070;
opacity: 1;
}
.container-configurator{
    position: absolute;
    background-color:white;
    border-radius: 10px;
    top: 15px;
    right: 15px;
    height: 95%;
    /* width: 20vw; */

}
.container-notes{
    width: 79vw;
    margin-left: 8px;
    height: 100vh;
    border-radius: 10px;
    background-color:white;
    margin-top: 15px;
    right: 25px;
    height: 95%;
}