body{
    overflow: hidden;
    position:relative;
    background-color: #e8eaec;
    width:100%;
height:100%;
    /* overflow:hidden; */
    /* overflow: hidden; */
}
.headerConfig{
    background-color: aqua;
}
.newFolder{
    background-color:#0A102E;
    top: 299px;
left: 1628px;
text-align: center;
height: 50px;
background: var(--unnamed-color-f1f1f3) 0% 0% no-repeat padding-box;
background: 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;  
  margin-top: 14px;
font: normal normal normal 16px/21px Roboto;
letter-spacing: -0.16px;
color: #7B7D86;
text-transform: capitalize;
}
.foldrplus{
    top: 205px;
left: 1739px;
width: 35px;
height: 29px;
}

.col3{
    background-color:red
}
.dragfolder{
    z-index: 8000;
    display:block;
    align-items:center!important;
    justify-content:center!important;
    /* width: 231px; */
    /* margin-right: 10px;
    margin-bottom: 30px;
    top: 184px;
    margin-left: 12px; */
height: 15%;
border: 2px dashed #707070;
opacity: 1;
position: relative;
/* top:-32%; */
width:99%;
}
.container-configurator{
    
    overflow-y: auto;
    overflow-x: hidden;
    /* display: block; */
    display: flex;
    flex-direction: column;
    /* display: flex; */
    position: absolute;
    background-color:white;
    border-radius: 10px;
    top: 0px;
    right: 15px;
    align-items: center;

    bottom:0;
    height:97%;
    width: 18%;

}
.container-notes{
    width: 79%;
    margin-left: 8px;
    /* height: 100vh; */
    border-radius: 10px;
    background-color:white;
    margin-top: 15px;
    bottom:0;
    right: 25px;
    height: 95%;
}
.configurator-line{
z-index: 9999;
width: 100%;
    margin-left:1px;
    /* background-color: #F1F1F3; */
    border: 1px solid white; 
    top: 91px;
left: 269px;
height: 43px;
/* background: var(--unnamed-color-f1f1f3) 0% 0% no-repeat padding-box;
background: #F1F1F3 0% 0% no-repeat padding-box; */
border-radius: 10px 10px 0px 0px;
opacity: 1;
box-shadow: #707070;
}

.p-icon{
    margin-left: 998px;
    margin-top: 12px !important;
}
.my-notes{
/* margin-right: 45px; */
    margin-top: 8px;
    /* margin-left: 48px; */
/* left: 342px; */
/* width: 74px; */
/* height: 24px; */
font-weight: bold;
color: var(--unnamed-color-0a102e);
text-align: left;
font: normal normal medium 18px/20px Roboto;
letter-spacing: 0px;
color: #0A102E;
opacity: 1;
}
.p-cloumn{
    z-index: 9999;
    cursor: pointer;
    margin-top: 7px;
    /* margin-left: 55px; */
/* width: 103px; */
/* height: 24px; */
color: var(--unnamed-color-3598f4);
text-align: left;
font: normal normal medium 18px/20px Roboto;
letter-spacing: 0px;
color: #3598F4;
text-transform: capitalize;
opacity: 1;
display:block;
}

.plus-icon{
    margin-left: 105px;
    margin-top: -19px;
}

.div-notes{
    border-right: 4px solid #dee2e6;
    height: 100vh;
}
.create-note-button {
    position: relative;
    /* padding: 13%; */
    width: 15vw;
    min-height:7%!important;
    cursor: pointer;
    /* top: -35%; */
    display: block;
    color: rgb(255, 255, 255);
    font: 700 18px / 24px Roboto;
    background: 0px 0px no-repeat padding-box padding-box rgb(53, 152, 244);
    border-radius: 4px;
}
.folder{
    width: 15vw;
    min-height: 6vh;
    border-radius: 4px;
    margin: 5%;
    /* text-align: center;  */
}
.folderColor{
    background-color: #F1F1F3!important;

}
.folderChosenColor{
    background-color: #c1c1c1!important;
}
.folderInput{
    width:11vw;
    background: transparent;
    border: none;
    outline: none;
    cursor: default;
}
.folder:hover {
    background-color: #c1c1c1!important;
  }

::-webkit-scrollbar {
    width: 0.8vw;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }
  .icon{
      
      min-width: 1em;
  }


.modal{
    z-index: 9999;
}

.draggedNote{
   zoom:50%!important;
}

.dropzone.dropNewFolder {
    background-color: #F1F1F3;
    border: dashed 4px transparent;
    border-radius: 4px;
    /* margin: 10px auto 30px; */
    /* padding: 10px; */
    /* width: 80%; */
    transition: background-color 0.3s;
  }

  .drop-target {
    /* background-color: #F1F1F3; */
    border-color: #fff;
    border-style: solid;
  }

  