
.textarea{
  font-size: 18px;
  padding: 5px;
  font-family: 'Shadows Into Light', 'Tangerine', Arial;
  background-color: yellow;
    height: 125px;
    margin: 0px;
    width: 150px;
    border: none;
    resize: none ;
}
textarea.textarea:focus {
  outline-width: 0;
}
.note{
height: 150px;
width: 150px;
background-color: yellow;
margin: 30px 0;
position: fixed;
cursor: -webkit-grab;
box-shadow: 5px 5px 15px 0 rgb(0 0 0 / 20%); 
position: relative;
}
.header{
   color:blue -50%;
}
.curr-container{
        /* width: 4rem; */
        position: absolute;
        top: 0;
        right: -53px;
}

.curr{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-wrap: wrap !important;
    width: 3rem !important;
    /* margin-left: 148px; */
    box-shadow: 1px 11px 31px 0 rgb(0 0 0 / 25%);
    background-color: white;
  }
  .openCloseEditor:hover{
    width: 30px;
    margin-left: "141px";
    margin-top: " 12px";
  }
  .create-note{
    padding-top: 21px;
    margin-left: 10px;
    cursor: copy;
    margin-bottom: 30px;
    margin-top: 40px;
    top: 127px;
color: var(--unnamed-color-ffffff);
text-align: center;
font: normal normal bold 18px/24px Roboto;
letter-spacing: 0.32px;
color: #FFFFFF;
text-transform: capitalize;
    top: 114px;

width: 238px;
height: 50px;
background: var(--unnamed-color-3598f4) 0% 0% no-repeat padding-box;
background: #3598F4 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;
  }
  .colorDiv{
  width: 16px;
  height: 16px;
  margin: 3px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
 cursor:auto;
}
.colorDiv:hover{
  width: 18px;
  height: 18px;
  margin: 2px;
}
.header{
  background-color: yellow
}
/* .container{
  position: absolute;
  background-color: antiquewhite;
}
.all-notes{
  position: relative;
  background-color:royalblue;
  right: 50;
  top: 0;
} */