
.textarea{
  font-size: 18px;
  padding: 5px;
  font-family: 'Shadows Into Light', 'Tangerine', Arial;
  background-color: yellow;
    height: 100% !important;
    /* max-height: max-content; */

    margin: 0px;
    width:100%;
    border: none;
}
textarea.textarea:focus {
  outline-width: 0;
}
.note{
  float: left;
  /* min-height: fit-content; */
  /* resize: both; */
  /* overflow: auto; */
  /* overflow:hidden; */
height: 150px;
transform: rotate("");
width: 150px;
background-color: yellow;
/* margin: 30px 0; */
position: absolute;
cursor: -webkit-grab;
box-shadow: 5px 5px 15px 0 rgb(0 0 0 / 20%); 
min-height: 80px;
min-width: 130px;
display:-webkit-box !important;
}
.header{
  /* background-color: yellow; */
  position: absolute;
  position: sticky;
   color:blue -50% !important;
   width:100% !important;
   height:100% !important;
   /* max-width: fit-content;
   max-height: fit-content; */
   top: 0 !important;
   right: 0 !important
}
.curr-container{
  float: left;
  display:block;
/* position: absolute; */
/* left: 9.5rem; */
top: 0;
/* top: 35%;
left: 48vh; */
}

.curr{
  z-index: 9999;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-wrap: wrap !important;
    width: 3rem !important;
    /* margin-left: 148px; */
    box-shadow: 1px 11px 31px 0 rgb(0 0 0 / 25%);
    background-color: white;
  }
  .openCloseEditor:hover{
    width: 30px;
    /* margin-left: "141px";
    margin-top: " 12px"; */
  }
  .header{
    background-color: yellow
  }
  .create-note{
    position: absolute;
    padding-top: 0.5%;
    width: 16%;
    cursor: pointer;
    right: 2%;
    top: 1%;
    background-color: lightgrey;
    display: block;
    font-weight: bold;
    /* font: normal normal bold 18px/24px Roboto; */
    color: black;
    height: 6%;

}
  .colorDiv{
  width: 16px;
  height: 16px;
  margin: 3px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
 cursor:auto;
}
.colorDiv:hover{
  width: 18px;
  height: 18px;
  margin: 2px;
}
.all-notes{
  position: relative;
  z-index: 9999;
  top: 0px;
  /* left: 2%; */
  width: 100vw;
  max-width: 100%;
  height: 100vh;
} 


 .textarea::-webkit-scrollbar {
  width: 1px;
  background:black !important; 
} 

 .textarea::-webkit-scrollbar-thumb:hover {
  background:black !important; 
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}
.BsX_button:hover{
  /* zoom: 1.5; */
  font-size: larger;
  font-weight: bold;
}
.BsPencil_button:hover{
  zoom: 4;
  font-weight: bold;
  font-size :5px;;
}
